@import url(./styles/css_reset.css);


body {
  background-color: #646E78;
  background-image: linear-gradient(to bottom right, #646E78, rgb(22, 41, 60));
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 1em "Press start 2P";
  
}

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

@mixin canvasborder( $width, $color, $bgcolor ) {
  box-shadow:
    $width 0 $bgcolor,
    -$width 0 $bgcolor,
    0 (-$width) $bgcolor,
    0 $width $bgcolor,
    3*$width 0 $color,
    -3*$width 0 $color,
    0 (-3*$width) $color,
    0 3*$width $color, 
    0 0 0 $width $color;
    margin: 5*$width auto;
}

@mixin title( $width, $color, $bgcolor ) {
  box-shadow:
    $width 0 $bgcolor,
    -$width 0 $bgcolor,
    0 (-$width) $bgcolor,
    0 $width $bgcolor,
    2*$width 0 $color,
    -2*$width 0 $color,
    0 (-2*$width) $color,
    0 2*$width $color, 
    0 0 0 $width $color;
  margin: 2*$width auto;
}

canvas, #bg {
    width: 400px;
    height: 400px;
    position: relative;
    display: block;
    padding: .4em .4em;
    @include canvasborder( 4px, #EAB464, #8D98A7 );
}
canvas {
    margin-top: -433px;
    // @include canvasborder( 4px, #EAB464, #8D98A7 );
}

h1 {
  color: #DCCCBB;
  text-shadow: 2px 2px 4px #000000;
  padding: .8em 1.3em;
  font-size: 1.5em;
  @include title( 4px,#A7754D, #FED9B7 );
}

.compound{
  @include title( 4px,#A7754D, #FED9B7 );
  background-color: rgb(39, 55, 75);
  min-width: 400px;
  min-height: 40px;
  max-width: 400px;
  max-height: 50px;
  text-align: center;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LiFActive {
  color: white;
  text-shadow: 2px 2px 4px rgb(168, 143, 97);
}

.BeOActive {
  color: white;
  text-shadow: 2px 2px 4px rgb(168, 143, 97);
}

.BNActive{
  color: white;
  text-shadow: 2px 2px 4px rgb(168, 143, 97);
}

.FFActive{
  color: rgb(177, 250, 189);
  text-shadow: 2px 2px 4px rgb(168, 143, 97);
}

.OOActive{
  color: white;
  text-shadow: 2px 2px 4px rgb(168, 143, 97);
}

.NNActive{
  color: white;
  text-shadow: 2px 2px 4px rgb(168, 143, 97);
}

.blank{
  color: white;
  text-shadow: 2px 2px 4px rgb(168, 143, 97);

  // @include title( 4px,#A7754D, #FED9B7 );
}

sub {
  font-size: 0.6em;
}

.gameover-bg {
  margin-top: 250px;
  position: absolute;
  margin-top: 220px;
  z-index: 1;
}

.gameover{
  margin-top: 260px;
  width: 300px;
  height: 200px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.gameover > h3.good-bad {
  font-size: 20px;
  text-shadow: 2px 2px 4px #000000;
}

.gameover > .bad-only {
    color: rgb(191, 0, 0);
}

.gameover > .good-only {
    color: rgb(100, 165, 2);
}

.gameover > p.gameover-msg {
  font-size: 15px;
  text-align: center;
  width: 70%;

}

.gameover > p.restart {
  background-color: rgb(163, 163, 163);
  @include title( 4px,#A7754D, #FED9B7 );
  cursor: pointer;
}

.gameover > p.restart:hover {
  background-color: rgb(254, 255, 200);
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 800ms;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 500ms, opacity 500ms
}
