@import url(./styles/css_reset.css);


body {
  background-color: #646E78;
  background-image: linear-gradient(to bottom right, #646E78, rgb(22, 41, 60));
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 1em "Press start 2P";
  
}

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

@mixin canvasborder( $width, $color, $bgcolor ) {
  box-shadow:
    $width 0 $bgcolor,
    -$width 0 $bgcolor,
    0 (-$width) $bgcolor,
    0 $width $bgcolor,
    3*$width 0 $color,
    -3*$width 0 $color,
    0 (-3*$width) $color,
    0 3*$width $color, 
    0 0 0 $width $color;
    margin: 5*$width auto;
}

@mixin title( $width, $color, $bgcolor ) {
  box-shadow:
    $width 0 $bgcolor,
    -$width 0 $bgcolor,
    0 (-$width) $bgcolor,
    0 $width $bgcolor,
    2*$width 0 $color,
    -2*$width 0 $color,
    0 (-2*$width) $color,
    0 2*$width $color, 
    0 0 0 $width $color;
  margin: 2*$width auto;
}

canvas, #bg {
    width: 400px;
    height: 400px;
    position: relative;
    display: block;
    padding: .4em .4em;
    @include canvasborder( 4px, #EAB464, #8D98A7 );
}
canvas {
    margin-top: -433px;
    // @include canvasborder( 4px, #EAB464, #8D98A7 );
}

h1 {
  color: #DCCCBB;
  text-shadow: 2px 2px 4px #000000;
  padding: .8em 1.3em;
  font-size: 1.5em;
  @include title( 4px,#A7754D, #FED9B7 );
}

.compound{
  @include title( 4px,#A7754D, #FED9B7 );
}

.compound-none{
  background-color: black;
  margin: 3px;
  // @include title( 4px,#A7754D, #FED9B7 );
}

.LiActive{
  background-color: white;

}
